.sticky,
.article-intro {
  position: relative;
  .article-title {
    position: relative;
    top: 1.300rem;
    z-index: 4;
    @media #{$brk-netbook}{
      position: absolute;
    }
    @media #{$print}{
      margin-bottom: 1rem;
      margin-top: 1rem;
      top: 0;
    }
  }
  .article-title.no-thumbnail {
    @media #{$brk-netbook}{
      position: relative;
      top: 0.625rem;
    }
  }
  img {
    padding: 0.625rem 0 0 0;
    @media #{$print}{
      display: none;
    }
  }
  h2 {
    background: $orange;
    color: $white;
    display: inline-block;
    font-size: 1.6em;
    line-height: 1.3;
    margin-bottom: -0.312rem;
    margin-top: 0;
    padding: 1.250rem;
    z-index: 3;
    @media #{$brk-netbook}{
      font-size: 1.8rem;
      line-height: 1.5;
      margin-left: 0;
    }
    a {
      color: $white;
    }
  }

  .posted-on {
    background: $green;
    color: $white;
    display: inline-block;
    padding: 0.500rem 2.000rem;
    position: absolute;
    right: -0.750rem;
    top: -1.250rem;
    min-width: 8.750rem;
    @media #{$brk-netbook}{
      min-width: 10.313rem;
      left: 5.188rem;
      position: relative;
      right: inherit;
      top: -0.313rem;
    }
    span:first-of-type {
      font-size: 0.750rem
    }
    time {
      font-size: 0.875rem
    }
  }
}


.round-title {
  position: relative;
}



.author-image-round {

  a {
    border-radius: 100%;
    color: $white;
    display: inline-block;
    height: 1.563rem;
    line-height: 1.3;
    text-align: center;
    width: 1.563rem;
  }

  li {
    position: absolute;
  }
}

img.attachment-post-thumbnail {
  width: 100%;
}
